<input type="text" [(ngModel)]="country" placeholder="enter country"> &nbsp;&nbsp;&nbsp;
<button (click)="search()">Search</button>

<br />


<ul *ngIf="countryWiseData && !errorMsg">
    <li>Total Cases: <span style="color: blue;"> {{ countryWiseData.cases }} </span></li>
    <li>Active: <span style="color: blue;"> {{ countryWiseData.active }} </span></li>
    <li>Recovered: <span style="color: blue;"> {{ countryWiseData.recovered }} </span></li>
    <li>Deaths: <span style="color: blue;"> {{ countryWiseData.deaths }} </span></li>
    <li>Tests: <span style="color: blue;"> {{ countryWiseData.tests }} </span></li>
</ul>

<ul *ngIf="errorMsg && !countryWiseData">
    <li>Error: <span style="color: blue;"> {{ errorMsg }} </span></li>
</ul>

<div *ngIf="errorMsg || countryWiseData">
    <div>
        <div class="chart">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors"
                [legend]="pieChartLegend">
            </canvas>
        </div>
    </div>
</div>

<br />
<div style="border: 1px solid black">
    <ng2-smart-table *ngIf="displayTable" [settings]="settings" [source]="source"></ng2-smart-table>
</div>